<h1>Home</h1>
<p><%= render 'shared/search_form' %></p>

<p>Vender</p>
<p>icone de login, e dentro dele: login, se inscrever e help center</p>

<p><%= link_to "mocas", main_category_path, class: "btn btn-primary" %></p>
<p><%= link_to "rapazes", main_category_path, class: "btn btn-primary" %></p>
<p><%= link_to "criancas", main_category_path, class: "btn btn-primary" %></p>
<p><%= link_to "outros", main_category_path, class: "btn btn-primary" %></p>

<button class="btn btn-primary">Testar Bootstrap</button>
